{% extends "base.html" %}

{% block title %}dodaj objavo{% endblock title %}

 {% block javascript %}

<script>
    $(document).ready(function() {
        var addTopicButton = $("#btn");
        var addTopicSum = $("#txt_name");
        addTopicButton.click(function(e) {
            if (addTopicSum.val() === "4"){
                addTopicButton.hide();

            } else {
                alert("napaćen rezultat");
                e.preventDefault();
            }
        });
    });
</script>



{% endblock javascript %}

{% block vsebina %}
<div class="row">
    <div class="col-md-6">
        <form method="post">

             <input type="hidden" name="csrf_token" value="{{csrf_token}}">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" required>
            </div>

            <div class="form-group">
                <label>Text</label>
                <textarea name="text" class="form-control" rows="6" required></textarea>
            </div>
            <p>vpiši rezultat 2+2=</p>
<input type="text" id="txt_name"  />


            <button id="btn" type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock vsebina %}
