{% extends "base.html" %}

{% block title %}Main page{% endblock title %}


 {% block home %}


  <h2>Seznam objav</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Uporabnik</th>
        <th>Naslov</th>
      </tr>
    </thead>
    <tbody>
     {% for objava in seznamobjav %}
      <tr>
        <td>{{ objava.uporabnik_email }}</td>
        <td><a href="/prikazi-objavo/{{ objava.key.id() }}">{{ objava.naslov }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock home %}