{% extends "base.html" %}

{% block title %}objava{% endblock title %}



 {% block javascript %}
<script>
$(document).ready(function(){
$("h3").mouseover(function(){
let idobjave = $(

};)
$.get("/st-komentarjev/123",function(vsebina){
console.log(vsebina)
});


}
</script>
{% endblock javascript %}

{% block vsebina %}
</div>
<div class="panel panel-default">
      <div class="panel-heading">{{ objava.naslov }}</div>
  <div class="panel-body">


  </div>
      {{ objava.vsebina }}
        <table class="table table-bordered">
    <thead>
      <tr>
        <th>cas objave</th>
        <th>cas posodobitve </th>
        <th>cas izbrisa</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ objava.cas_objave }}</td>
        <td>{{ objava.cas_posodobitve }}</td>
        <td>{{ objava.cas_izbrisa }}</td>
      </tr>
    </tbody>
  </table>


</div>
<div class="row">
    <div class= "col-md-10">

                    <form action="/prikazi-objavo/{{objava.key.id()}}/delete" method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                        <button class="btn btn-danger">Delete topic</button>
                    </form>
</div>
<div class= "col-md-2">
                    <form action="/subscribe/{{objava.key.id()}}" method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                        <button class="btn btn-primary">Subscribe this topic</button>
                    </form>
</div>
</div>

{% for komentar in seznamkomentarjev %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ komentar.uporabnik_email }}</h3>
  </div>
  <div class="panel-body">
   {{ komentar.vsebina }}
  </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{csrf_token}}">
            <div class="form-group">
                <label>Komentiraj:</label>
                <textarea name="komentar" class="form-control" rows="6" required></textarea>
            </div>
              <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

{% endblock vsebina %}



